doctype html
html(lang="en")
    head
        title= 'htask3'
        link(href='css/main.css' rel='stylesheet')
    body
        .content
            .links
                header.links__header
                    h1 Киноглушитель
                section.links__wrap
                    form(class='links-form')
                        label Видео:
                            input(
                            type='file'
                            name='video'
                            class='links-form__input links-form__video'
                            )
                        label Аудио:
                            input(
                            type='file'
                            name='audio'
                            class='links-form__input links-form__audio'
                            )
                        label Субтитры:
                            input(
                            type='file'
                            name='sub'
                            class='links-form__input links-form__sub'
                            )
                        
                        button(
                        class='links-form__button links-form__submit'
                        ) Заглушить
            
            .player.hidden
                section.hidden-elements
                    
                section
                    canvas.player__canvas
        script(src='js/main.js' type='text/javascript')
        
        
        
